name: Auto Mirror Repo

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to mirror repo
        run: |
          git remote add mirror https://raulops:${{ secrets.MIRROR_TOKEN }}@github.com/raulops/yolups-proxy.git || \
          git remote set-url mirror https://raulops:${{ secrets.MIRROR_TOKEN }}@github.com/raulops/yolups-proxy.git
          git push mirror --mirror
